.receipt {
  background-color: lightgreen;
  border: solid 1px green;
  border-radius: 5px;
}

.expense {
  background-color: palevioletred;
  border: solid 1px red;
  border-radius: 5px;
}

.grid {
  margin: 2.5rem;
}

.box {
  border: solid 2px #ddd;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5%;
}
